---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";

const user = Astro.locals.user;
if (user) {
  return Astro.redirect("/");
}
---

<Layout title="Register | 10xDevs Flashcards">
  <div class="container flex items-center justify-center min-h-[calc(100vh-3.5rem)] py-12 px-4 md:px-6" data-test-id="register-page">
    <RegisterForm client:load />
  </div>
</Layout>
