---
import Layout from "@/layouts/Layout.astro";
import { UpdatePasswordForm } from "@/components/auth/UpdatePasswordForm";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}
---

<Layout title="Update Password | 10xDevs Flashcards">
  <div
    class="container flex items-center justify-center min-h-[calc(100vh-3.5rem)] py-12 px-4 md:px-6"
    data-test-id="update-password-page"
  >
    <UpdatePasswordForm client:load />
  </div>
</Layout>
